div{
    background-color: whitesmoke;
    width: 400px;
    height: 800px;
    margin: auto;
}

header{
    width: 400px;
    background-color: rgb(64, 190, 133);
    height: 150px;
    display: flex;
    z-index: 1px;
}

h1{
    color: white;
    font-family: serif;
    padding-top: 30px;
    padding-left: 20px;
}
.camera{
    height: 30px;
    width: 30px;
    margin-left: 80px;
    margin-top: 60px;
}

.search{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: 60px;
    cursor: pointer;
}

#searchInput{
    display: none;
}

#searchIcon{
    background: none;
    border: none;
    margin-top: -55px;
}

#menu{
    background: none;
    border: none;
    margin-top: -55px;
}

.menu{
    height: 30px;
    width: 30px;
    margin-left: 0px;
    margin-top: 60px;
    cursor: pointer;
}

.navbar{
    display: none;
    text-align: left;
}

#group{
width: 50px;
height: 50px;
}

#links{
    display: flex;
    justify-content: space-around;
    margin-left: -380px;
    background: none;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}
